.Secondary {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #FFC0CB;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.container {
    position: relative;
    background-color: #FFC0CB;
    width: 100vw;
    height: 800px;
    display: flex;
}
